extends Layouts/default.pug

//- ページ個別にメタデータを変更したい場合はここで再設定できます
block vars
  - const title = 'Home'
  - pageClass = 'page-top'

//- ページ個別にスタイルシートを追加したい場合はここへ記述
append style
  //- link(href=require('Styles/pages/top.scss') rel='stylesheet')
  link(href=require('./styles.scss') rel='stylesheet')

//- ページ個別にJsを追加したい場合はここへ記述
append script
  script(src=require('./main.js') defer)

block content
  //- コンテンツ本文
  h1.h1 トップページ
  p.p-2 vwのタイトル